<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">homepage</ion-title>
    </ion-toolbar>
  </ion-header>
  <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; height: 50vh;">
    <ion-card-title style="font-size: 30px;"><span>Watch</span> News</ion-card-title>
    <ion-card-title style="text-align:center; margin-top: 30px;">All types of new from verious certified sources</ion-card-title>
    <div class="btn-register">
      <ion-button class="btn" shape="round" expand="full" type="submit"><a routerLink="/register">Register</a></ion-button>
    </div>
  </div>
 
</ion-content>
