<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header">Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="heading">
    <ion-toolbar>
      <h1 size="large"><span>Watch</span>News</h1>
    </ion-toolbar>
  </div>

  <form (ngSubmit)="resetPassword()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email Address</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Current Password</ion-label>
        <ion-input type="password" [(ngModel)]="currentPassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">New Password</ion-label>
        <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
      </ion-item>
    </ion-list>

    <div class="btn-register">
      <ion-button class="btn" shape="round" expand="full" type="submit">Change Password</ion-button>
    </div>
  </form>
</ion-content>
