<ion-header>
  <ion-toolbar>
    <ion-searchbar style="margin-top: 60px;" [(ngModel)]="searchTerm" (ionInput)="searchPosts()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let post of filteredPosts" style="margin-top: 80px;">
    <ion-card-header>
      <ion-card-title>
        <ion-img [src]="post.imageDownloadURL" alt="Image Description"></ion-img>
        {{ post.title }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ post.content }}
      <div style="margin-top: 50px;">
        <ion-button fill="clear" slot="start" (click)="showVideoAlert()">
          <ion-icon slot="icon-only" size="small" name="play"></ion-icon>
          Play
        </ion-button>
        <ion-button fill="clear" size="small" slot="end" (click)="likePost(post)">
          Like
          <ion-icon slot="icon-only" [color]="likedPosts.includes(post.id) ? 'success' : 'medium'" name="heart"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
