<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="center-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <div class="center">
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-avatar class="profile-picture">
              <img [src]="profileData.profilePicture" alt="Profile Picture">
            </ion-avatar>
            <input type="file" required accept="image/*" (change)="onProfilePictureChange($event)" class="profile-picture-input">
            <p class="profile-picture-label">Please choose your picture</p>
          </ion-col>
        </ion-row>
      </div>
      <ion-col size="12">
        <!-- Username Input -->
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input [(ngModel)]="profileData.username" placeholder="Enter your username"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <!-- First Name Input -->
        <ion-item>
          <ion-label position="floating">First Name</ion-label>
          <ion-input [(ngModel)]="profileData.firstName" placeholder="Enter your first name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <!-- Last Name Input -->
        <ion-item>
          <ion-label position="floating">Last Name</ion-label>
          <ion-input [(ngModel)]="profileData.lastName" placeholder="Enter your last name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <!-- Email Input -->
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="profileData.email" placeholder="Enter your email" type="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <!-- Save Button -->
        <ion-button (click)="saveProfile()" expand="full">Save</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
